<style>
    .table-hover tbody tr:hover {
        background: rgba(150, 214, 158, 0.47);
    }
</style>
<div class="row">
    <div class="col-8 offset-2">

        <table class="table table-hover">
            <ul class="nav nav-tabs" id="myTab" role="tablist">

                <li class="nav-item">
                    <a class="btn btn-outline-success" id="home-tab" data-toggle="tab" href="/" role="tab"
                        aria-controls="home" aria-selected="true">Danh mục sản phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-success" id="profile-tab" data-toggle="tab" href="/product/index"
                        role="tab" aria-controls="profile" aria-selected="false">Sản Phẩm</a>
                </li>
            </ul>
            <thead>

                <tr>
                    <th scope="col">Tên</th>
                    <th scope="col">Ảnh</th>
                    <th scope="col">Mô tả</th>
                    <th scope="col">Giá</th>
                    <th scope="col">
                        <a href="/product/add" class="btn btn-sm btn-success">Thêm</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{#each product}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>
                        <img src="{{this.image}}" width="100" height="80">
                    </td>
                    <td>{{this.description}}</td>
                    <td>{{this.price}}</td>
                    <td>
                        <a href="/product/update/{{this._id}}" class="btn btn-sm btn-primary">Sửa</a>
                        <a href="/product/delete/{{this._id}}" class="btn btn-sm btn-danger">Xóa</a>
                    </td>
                </tr>
                {{/each}}
                </tr>
            </tbody>
        </table>
    </div>
</div>